<div class="panel panel-default">
  <div class="panel panel-heading">
    <h1>Accounting for The <%= @matter.matter_type  %> of <%= @matter.name  %></h1>
  </div>

  <div class="panel-body">
    <div class="col-md-12">

      <table class="table table-striped table-hover table-responsive">
        <tr align="center">
          <h2>Fiduciaries</h2>
          <th>Name</th>
          <th>Address</th>
        </tr>

        <% @fiduciaries.each do |fiduciary| %>
        <td><%= fiduciary.fiduciary_name %></td>
        <td><%= fiduciary.fiduciary_address %></td>
        <% end %>

        <table class="table table-striped table-hover table-responsive">
          <tr align="center">
            <h2>Assets</h2>
            <th>Account</th>
            <th>Type</th>
            <th>Description</th>
            <th>Inventory Value</th>
            <th>Market Value</th>
          </tr>
          <% @assets.each do |asset| %>
          <tr>
            <td><%= asset.asset_account %></td>
            <td><%= asset.description %></td>
            <td><%= asset.asset_type %></td>
            <td><%= number_to_currency(asset.asset_value)%></td>
            <td><%=  number_to_currency(asset.market_value) %></td>
          </tr>
        </div>
        <% end %>

        <div class="col-md-12">
          <table class="table table-striped table-hover table-responsive">
            <tr align="center">
              <h2>Transactions</h2>
              <th>Date</th>
              <th>Account</th>
              <th>Asset</th>
              <th>Transaction type</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Payee</th>
              <th>Shares</th>
            </tr>
            <% @assets.each do |asset| %>
            <% asset.transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.date.to_formatted_s(:long) %></td>
              <td><%= asset.asset_account %></td>
              <td><%= asset.description %></td>
              <td><%= transaction.transaction_type %></td>
              <td><%= number_to_currency(transaction.amount) %></td>
              <td><%= transaction.description.titleize %></td>
              <td><%= transaction.payee %></td>
              <td><%= transaction.shares %></td>
              <td>
              </tr>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
