<div class="page-header">
  <ul class="breadcrumb">
    <li><a href="/matters">My Matters</a></li>
    <li><a href="/matters/<%= @matter.id %>"><%= @matter.name %></a></li>
    <li class="active">Matter Docs</li>
  </ul>
  <h1>
    Matter Docs
    <a href="/matter_docs/new/<%= @matter.id %>" class="btn btn-lg btn-success">New Matter doc</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Document type</th>
        <th>Actions</th>
      </tr>

      <% @matter_docs.each do |matter_doc| %>
      <tr>
        <td><%= matter_doc.document_type %></td>
        <td>
          <a href="/matter_docs/<%= matter_doc.id %>" class="btn btn-primary">Show</a>
          <a href="/matter_docs/<%= matter_doc.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_matter_doc/<%= matter_doc.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
